th {
    background-color: aquamarine;
    width: 200px;
    border: 1px solid gray;
    padding: 10px 15px;
}
td {
    width: 200px;
    border: 1px solid gray;
   text-align: center;
   padding: 10px 0;
}
tr:nth-child(even) {
    background-color: whitesmoke;
  }
.transactionHistory {
    margin-left: 250px;
    background-color: white;
   
}